
body {
    color: white;
    background-color: #1b2227;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5;
    height: 92vh;
    margin: 0;
    min-height: 92vh;
    max-height: 92vh;

}

#content{
    margin: 0 15vw 0 0;
    position: relative !important;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 8vh;
    height: 92vh;
    width: 90%;
    max-width: 90%;
    overflow: hidden;

}

.container{
    margin-left: 5vw;
}

/* layout.css Style */
.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center
}
.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}

.list-group-item{
    width: 500px;
}

.datafileList{
    color: black;
}