html {
    box-sizing: border-box;
    font-size: 100%;
    height: 100%;
}

.align {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*top:-15vh;*/
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.captcha{
    margin-left: 3vw;
    margin-bottom: 1vh;
}

body {
    color: white;
    background-color: #1b2227 ;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    height: 100%;
    line-height: 1.5;
    margin: 0;
    min-height: 100vh;
}

a:focus,
a:hover {
    text-decoration: underline;
}

#login__password,
#login__username{
    width: 100%;
}

input {
    background-image: none;
    border: 0;
    color: white;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

/*input::placeholder {*/
    /*color: #9c9a9b;*/
/*}*/

::-webkit-calendar-picker-indicator { background: inherit; }

input[type='text'],
input[type='password'],
input[type='email'],
input[type='date'],
select option,
input[type='submit'] {
    color: white;
    border-radius: 0.25rem;
    background-color: #3b4148 ;
}
select {
    color: white;
    border-radius: 0.25rem;
    background: transparent;
}
input[type='submit']{
    background-color: orange;
}
input[type='submit']:focus,
input[type='submit']:hover {
    background-color: #9d6300;
}

label {
    background-color: #363b41;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-left: 20px;
    padding-left: 1.25rem;
    padding-right: 20px;
    padding-right: 1.25rem;


}

#content,
.container,
.row{
    /*display: inline;*/
    max-width: 50vw;
    max-heigth: 50vh;
    width: 50vw;
    height: 50vh;
    position: relative;
}


.unten{
    /*position: absolute;*/
    margin-top: 2em;
    background-color: inherit;
    color: #fff !important;
    width: 100%;
    bottom: 0;
}

input:read-only{
    color: black;
    background-color: #adadad;
    opacity: 0.5;
}

input:focus{
    border-color: orange !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #9d6300 !important;
}

form {

     /*display: inline;*/
     max-width: 50vw;
     max-heigth: 50vh;
     width: 50vw;
     height: 50vh;
     /*position: relative;*/
 }


.links{
    max-width: 25vw;
    width:  25vw;
    float: left;
}

.rechts{
    max-width: 25vw;
    width:  25vw;
    float: right;
}

.input-group-addon span{
    width: 1em;
}

.input-group{
    width: 23vw;
    margin: 0 2vw 1vh 0 !important;
    height: 3em !important;
}
.error-border{
    border: 2px solid red;
    border-left: 0;

}
.success-border{
    border: 2px solid green;
    border-left: 0;
}

.success{
    color: green !important;
}

.oldPassword{
    position: relative;
    width: 48vw;
}

.icon-error {
    color:white;
    background-color:red !important;
    border-color: red;
}

.icon-success{
    color:white;
    background-color:green !important;
    border-color: green;
}



.error-label{
    top: -1vh;
    color: red;
    position: relative;
    margin: 0 !important;
    font-weight: 400;
    background-color: #363b41;
    padding-left: 20px;
    padding-left: 1.25rem;
    padding-right: 20px;
    padding-right: 1.25rem;
    width: 22vw;
    margin: 0 2vw 1vh 0.5vw !important;
    height: 1.5em !important;
    text-align: center;
}


.form-control{
    height: 3em !important;
    width: 100% ;
}


input[type='submit'] {
    cursor: pointer;
    background-color: #e89100;
    color: #eee;
    /*width:  100%;*/
    /* Width: 23vw einer FormControl + 2vw marginRechts + 23vw einer FormControl*/
    width: 48vw ;
    heigth: 3em !important;
    font-weight: 700;
    text-transform: uppercase;
}

.genderText{
    display: inline!important;
    float: right!important;

}

.genderText input[type='button']{
    float:right;
    width:3vw !important;


}

.genderText input[type='text']{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

    float:left;
    width:20vw;
}

input[type='button'] {
    cursor: pointer;
    background-color: #e89100;
    color: #eee;
    /*width:  100%;*/
    /* Width: 23vw einer FormControl + 2vw marginRechts + 23vw einer FormControl*/
    width: 2vw !important;
    heigth: 3em !important;
    font-weight: 700;
    text-transform: uppercase;
}

.text--center {
    text-align: center;
}

form p{
    margin-bottom: 0.5em;
    margin-top:  0.5em;
}